body {
	background: orange;
}

li {
	border: 2px solid red;
}

#lastcheck {
	background-color: yellow;
}

/*FYI - can't do check value in CSS*/

.completed {
	text-decoration: line-through;
}

/*selectors:
- element: e.g., div, span, p, li, h1
- ID: ONLY ONE PER PAGE e.g., #special, #thisid
- class: like ID but can affect  MULTIPLE ELEMENTS;
*/

